<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Home</title>
    <!--/*/ <th:block th:include="head :: head"/> /*/-->
</head>
<body id="samples">
<div th:replace="menu :: menu"></div>

<div id="content" class="container">
    <h2>Admin Page</h2>

    <div th:unless="${#authorization.expression('isAuthenticated()')}">
        <p>Hello!</p>
        <p>How did you get here?</p>
    </div>

    <div th:if="${#authorization.expression('isAuthenticated()')}" class="text container">
        <p>Welcome to the Admin Page</p>
        <p>Do Admin Stuff.</p>
    </div>
</div>
</body>
</html>